!!!
%html
  %head
    %title Brains
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/css/reset.css'}
    %script{:src => '/js/jquery.js', :type => 'text/javascript'}
    %script{:src => '/js/json.js', :type => 'text/javascript'}
    = styles
  %body
    = yield
    = scripts
