:style
  #container
    :background-color grey
    :position absolute
    :top 0
    :right 0
    :bottom 0
    :left 0
    :overflow hidden
  #overlay
    // :background #000
    // :opacity 0.5
    :z-index 99
    :position absolute
    :width 100%
    :height 100%
    :cursor url('http://maps.gstatic.com/intl/en_ALL/mapfiles/openhand_8_8.cur'), default
    &.dragging
      :cursor url('http://maps.gstatic.com/intl/en_ALL/mapfiles/closedhand_8_8.cur'), default
    
    *
      :-webkit-user-select none
      :-webkit-user-drag none
    
  #map
    :position absolute
    img
      :float left

:script
  $$ = function(elem, methods) {
    if (methods) $(elem).data("controller", methods);
    return $(elem).data("controller");
  }
  
  $(document).ready(function(){
    var container = $('#container'),
        overlay = $('#overlay'),
        map = $('#map');
    
    function constrain(num, lower, upper) {
      if(num < lower){
        return lower;
      } else if(num > upper) {
        return upper;
      } else {
        return num;
      };
    }
    
    $$(map, {
      show: function() {
        var width = map.data('width') * map.data('scale'),
            height = map.data('height') * map.data('scale');
        
        map.css('width', width);
        map.css('height', height);
        
        map.css('top', -(width / 2));
        map.css('left', -(height / 2));
        
        for(var i in map.data('raw')) {
          var tile = $('<img />').attr('src', map.data('key')[map.data('raw')[i]]);
          map.append(tile);
        }
      },
      
      move: function(x, y) {
        map.css({top: y, left: x});        
      }
    });
    
    
    
    
    $.getJSON('/map.json', function(attrs){
      for(var key in attrs) {
        map.data(key, attrs[key]);
      }
      $$(map).show();      
    });
    
    var drag = {
      on: false,
      pos: {x: 0, y: 0},
      start: {x: 0, y: 0}
    };
    
    overlay.mousedown(function(e){
      drag.on = true;
      drag.pos = {x: parseFloat(map.css('left')), y: parseFloat(map.css('top'))};
      drag.start = {x: e.clientX, y: e.clientY};
    });
    $(document).mouseup(function(){
      if(drag.on) {
        drag.on = false; overlay.removeClass('dragging');
      }
    });
    
    $(document).mousemove(function(e){
      if(drag.on) {
        overlay.addClass('dragging');
        var x = constrain(drag.pos.x-(drag.start.x-e.clientX), window.innerWidth-map.width(), 0),
            y = constrain(drag.pos.y-(drag.start.y-e.clientY), window.innerHeight-map.height(), 0)
        $$(map).move(x,y);
      }
    })
    
  });

#container
  #overlay
    #map
    
